
<div>
	<h3>Search peson</h3>
	<form>
		<label for="searchInput">Enter your search query:</label> <input
			type="text" id="searchInput" name="q" placeholder="Search...">
		<button type="submit" id="searh-btn">Search</button>
	</form>
	<form id="from-add-person">
		<label for="name">name</label><br> <input type="text"
			id="name" name="name" required><br>
		<br> <label>sex</label><br> <input type="radio"
			id="male" name="sex" value="male"> <label for="male">Male</label><br>
		<input type="radio" id="female" name="sex" value="female"> <label
			for="female">Female</label><br>
		<br> <label for="birthday">Birthday</label><br> <input
			type="date" id="birthday" name="birthday" required><br>
			<input id="edit-id" type="hidden" value=""/>
		<br> <button type="submit" id="btn-add">Add</button>
		<button type="submit" id="btn-save-edit">Save edit</button>
	</form>
	<div id="render-sesult">
		<ul>

		</ul>
	</div>
	<div id="page"></div>
</div>