.product-list {
	min-height: 445px;

	.cmp-product_list {

		&__wrapper {}

		&__frame {
			display: block;
			margin-bottom: 20px;
			padding-top: 30px;
			cursor: pointer;

			@media (max-width: 767px) {
				cursor: default;
			}
		}

		&__items {
			display: flex;
			flex-wrap: nowrap;
			padding: 0;
			margin: 0;
		}

		&__item {
			list-style-type: none;
			margin-right: 15px;
		}

		&__btn {
			width: 100%;
			position: relative;
			top: 170px;
			z-index: 100;
			background-color: transparent;
		}

		&__btn-prev {
			border: none;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: rotate(180deg);
			background-color: transparent;
			left: 0;
			position: absolute;
			margin-left: 3px;
		}

		&__btn-next {
			border: none;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			right: 0;
			position: absolute;
			margin-right: 3px;
		}
	}
}

.simplebar-content {
	@media (max-width: 767px) {
		padding: 0 !important;
	}
}

.simplebar-content-wrapper::-webkit-scrollbar {
	display: none !important;
	opacity: 0;
}

.simplebar-placeholder {
	height: 0 !important;
	width: 0 !important;
}

.simplebar-track {
	background: linear-gradient(0deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 41.6667%, rgb(238, 238, 238) 0px, rgb(238, 238, 238) 58.3333%, rgb(255, 255, 255) 0px, rgb(255, 255, 255));
	height: 9pt;
	margin-top: 5px;

	@media (max-width: 767px) {
		cursor: default;
	}

	.simplebar-scrollbar {
		height: 12px;
		position: relative;

		@media (max-width: 767px) {
			cursor: default;
		}

		&::before {
			content: "";
			width: 100%;
			height: 2pt;
			position: absolute;
			top: 50%;
			left: 0;
			background: #999;

			@media (max-width: 767px) {
				cursor: default;
			}
		}
	}

	&:hover,
	&:active {

		.simplebar-scrollbar::before {
			background: #000;
			height: 2.3pt;
		}
	}
}

@media (max-width: 767px) {
	.cmp-product_list__item {
		margin-right: 2vw;
	}
}