
<div data-sly-use.productList="com.adobe.aem.guides.wknd.core.models.ProductList"
	data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	data-sly-test.cfPathsList="${productList.cfPathsList}">
	<sly data-sly-test="${wcmmode.edit}">
		<h2 data-sly-test.cfPaths="${productList.cfPaths}">${cfPaths.length} products are selected</h2>
		<ul data-sly-list="${cfPaths}">
			<li>${item}</li>
		</ul>
	</sly>

	<ul data-sly-list="${cfPathsList}">
		<li>
			<sly data-sly-resource="${itemList.index @ resourceType='wknd/components/product-panel', selectors=item}"></sly>
		</li>
	</ul>

</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!cfPathsList, classAppend='cmp-product_list'}"></sly>